<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<center>
		<div><input type="text" name="find" value="">
         <a href="{:U('Find/find_do')}"><button id="find">搜索</button></a>
         <input type="text" name="find_t" value="">
         <a href=""><button id="find">搜索</button></a>
		</div>
		<table border="1">
			<th>商品ID</th>
			<th>商品名称</th>
			<th>商品网址</th>
			<th>商品简介</th>
			<foreach name="res" item="v">
				<tr>
					<td>{$v.brand_id}</td>
					<td>{$v.brand_name}</td>
					<td>{$v.site_url}</td>
					<td>{$v.brand_desc}</td>
				</tr>
			</foreach>
		</table>
		</center>
	  
</body>16:30 end