@import "css/yzipi-pc.css"; 
html {
-webkit-text-size-adjust: none;
}
*{
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
img {
	border: 0;
	height: auto;
	width: auto;
}

body {
	font-family: "Microsoft Yahei", "冬青黑体简体中文 w3";
	font-size: 17px;
	letter-spacing: 0.8px;
	position:relative;
	letter-spacing:1px;
}
@media only screen and (min-width: 900px) {body{background: #efefef;}}
@media only screen and (max-width: 900px) {body{background: #fff;}}
a {
	color: #000;
	font-size: 17px;
	text-decoration: none;
	transition: color 0.3s;letter-spacing:1px;
}
a:hover {
	color: #d6623d;
}
::selection{background:#d6623d;color:#fff;}
img{display:block;}

